.container,
.bg-zuck,
.bg-purple-hover {
  height: 100vh;
}

.container {
  width: 100%;
}

.bg-zuck {
  background-image: url("./../../../images/background/zuckerberg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-purple-hover {
  background-image: linear-gradient(
    to right,
    rgba(21, 9, 72, 0.75),
    rgba(5, 2, 23, 0.75)
  ); /* #150948 to #050217*/
  backface-visibility: 75%;
}

.message {
  padding: 5%;
  width: 50%;
}

.text-color-purple {
  color: #b733d6;
}
